@model library.Models.Книги

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add_books</title>
</head>
<body>
    @using (Html.BeginForm("add_books", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
        <h4>Добавление книги</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.НазваниеКниги, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.НазваниеКниги, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.НазваниеКниги, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Описание, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Описание, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Описание, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Автор", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="id_avtor" id="id_avtora"> </select>
                <script>
                    $.ajax({
                         url: "/home/Index_avtors/",
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            $.each(data, function (i, item) {
                                $('#id_avtora').append("<option value='" + item.id_avtor + "'>" + item.фио + '</option>');
                            });
                        },
                    });


                </script>
            </div>
        </div>




        <div class="form-group">
            @Html.Label("Обложка", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="ImageFile_add_book" required />
   
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
        }


</body>
</html>
